<h2><%= link_to "View product", products_path %></h2>

<h1> Welcome! Add to cart </h1>

<% flash.each do |key, message| %>
  <div class="flash <%= key %>">
    <%= message %>
  </div>
<% end %>

<table>
	<% @products.each do |product| %>
		<tr>
			<td><%= product.code %></td>
	  	<td><%= product.name %></td>
	  	<td><%= product.price %></td>
			<td>
	  		<%= button_to "Add to Cart", cart_items_path(product_id: product.id), method: :post %>
	  	</td>
	  	<td>
	  		<% if @cart_items.map(&:product_id).include?(product.id) %>
	  			<%= button_to "Remove from Cart", cart_item_path(product), method: :patch, params: { cart_item: { id: product.id } } %>
	  		<% end %>
		  </td>
	  </tr>
	<% end %>
</table>

<% if @cart_items.any? %>
	<h1>Total Amount: <%= @cart_items.sum(&:total_price) %></h1>
	<h1> Items in cart </h1>
	<table>
		<tr>
			<th> Product name </th>
			<th> Quantity </th>
			<th> Price </th>
		</tr>
		<% @cart_items.each do |item| %>
			<tr>
				<td><%= item.product.name %></td>
		  	<td><%= item.quantity %></td>
		  	<td><%= item.total_price %></td>
		  </tr>
		<% end %>
	</table>
<% end %>
