<h2><%= link_to "Home page", root_path %></h2>

<h3><%= link_to "New product", new_product_path %></h3>
<table>
	<tr>
		<th> Code </th>
		<th> Name </th>
		<th> Price </th>
	</tr>
	<% @products.each do |product| %>
		<tr>
			<td><%= product.code %></td>
	  	<td>
	  		<a href="/products/<%= product.id %>">
	  			<%= product.name %>
	  		</a>
	  	</td>
	  	<td><%= product.price %></td>
	  </tr>
	<% end %>
</table>
